.attribution {
    position: absolute;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    text-decoration: none;
    color: $dark-gray-blue;
    display: none;

    a {
        color: $violet-blue;
        transition: color 0.3s;

        &:hover {
            color: $light-royal-blue;
        }
    }
}

@media (min-width: 376px) {
    .attribution {
        display: block;
    }
}