// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

// Gradients
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

// Neutral
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Typography
@import url('https://fonts.googleapis.com/css?family=Hanken+Grotesk:wght@500;700;800&display=swap');
$body-font-size: 18px;
$body-font-family: 'Hanken Grotesk', sans-serif;
$body-font-weights: 500, 700, 800;