@import 'variables';
@import 'reset';
@import 'attribution';

/*
* {
    outline: red solid 2px;
}
*/

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight-medium;
    line-height: 1.3;
    background-color: $pale-blue;
    color: $dark-gray-blue;
    //display: grid;
    //place-content: center;
}



//code of the card
.card-results {
    width: 100%;
    background-color: white;

    .score {
        //width: 100%;
        min-width: $mobile-width;
        background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
        border-radius: 0px 0px 1.7rem 1.7rem;
        text-align: center;
        color: $light-lavender;
        padding-top: 1.3rem;
        padding-bottom: 3rem;

        .score-title {
            font-weight: 700;
        }

        .score-value {
            margin-top: 2rem;
            margin-bottom: 1rem;
            margin-inline: auto;
            height: 9rem;
            width: 9rem;
            border-radius: 50%;
            display: grid;
            place-content: center;
            background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);


            h2 {
                color: white;
                font-size: 4rem;
                font-weight: 800;
            }
        }

        h3 {
            color: white;
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        p {
            color: $light-lavender;
            line-height: 1.3;
            margin-inline: 3rem;
            font-size: 0.95rem;
            //margin-bottom: 2.22rem;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.7rem;
        width: 100%;

        h3 {
            font-size: 1rem;
            font-weight: 700;
            color: $dark-gray-blue;
        }

        ul {
            font-size: 1rem;
            font-weight: 500;
            color: $dark-gray-blue;
            width: 100%;
            padding-top: 0.3rem;
            margin-top: 1rem;
            margin-bottom: 2rem;

            li {
                border-radius: 0.7rem;
                width: 100%;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                margin-block: 0.9rem;

                div {
                    display: flex;
                    align-items: center;
                }

                img {
                    display: inline;
                }
            }

            li:first-child {
                color: $light-red;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $light-red;
            }

            li:nth-child(2) {
                color: $orangey-yellow;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $orangey-yellow;
            }

            li:nth-child(3) {
                color: $green-teal;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $green-teal;
            }

            li:last-child {
                color: $cobalt-blue;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), $cobalt-blue;
            }
        }

        button {
            display: block;
            width: 100%;
            margin-inline: 1rem;
            height: 3rem;
            font-weight: 700;
            border-radius: 1.5rem;
            background: linear-gradient(to bottom, $dark-gray-blue 0%, $dark-gray-blue 100%);
            border: none;
            color: white;
            margin: 0 auto;
            text-align: center;
            //transition: background 2s ease-in-out;

            &:hover {
                background: linear-gradient(to bottom, $light-slate-blue 0%, $violet-blue 0.01%, $light-royal-blue 100%);
                filter: drop-shadow(0px 30px 60px rgba(61, 108, 236, 0.15));
            }
        }
    }
}

@media (min-width:768px) {
    body {
        display: grid;
        place-content: center;
    }

    .card-results {
        display: flex;
        border-radius: 1.7rem;
        overflow: hidden;

        .score {
            width: 49%;
        }

        .details {
            width: 49%;
        }

    }
}