@import "./colors";
@import "./starter";
@import "./typography";

body {
  display: grid;
  place-content: center;
}

.card {
  border-radius: 1rem;
  padding: 1.5rem;
  height: 365px;
  width: 330px;

  h1 {
    margin-top: 1.1rem;
    margin-bottom: 0.7rem;

    font-size: 150%;
  }

  p {
    color: $medium-grey;
    line-height: 1.6;
    font-size: 87%;
  }

  .rating-numbers {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    color: $medium-grey;
  }

  .rating-icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  button {
    background-color: $orange;
    border: orange;
    width: 100%;
    border-radius: 1.5rem;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 1.25rem;
  }
}

.rating-icon {
  border-radius: 50%;
  background-color: #272e38;
  width: 3rem;
  height: 3rem;
}

.rating-card {
  display: none;
}

.thank-card {
  display: block;
}

.thank-card {
  text-align: center;
  img {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 146px;
  }

  #result {
    margin: auto;
    color: $orange;
    background-color: $bg-rating;//#272E38;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 90%;
  }

  h1 {
    margin:auto;
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;
  }
}

@media (min-width: 768px) {
  .card {
    width: 26rem;
    height: 26rem;
    border-radius: 2rem;
    p {
      font-size: 90%;
      word-spacing: 2px;
      line-height: 1.5;
    }
  }

  
.thank-card {
  img {
    margin-bottom: 2.75rem;
    width: 146px;
  }

  #result {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 90%;
  }

  h1 {
    margin-top: 2.2rem;
    font-size: 175%;
  }
}

}