@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-desktop.svg");
  background-size: cover;
  background-color: $violet;
  color: white;
  font-family: "Open Sans";
}

header {
  margin-left: 80px;
  margin-top: 60px;
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  margin: 100px 80px 30px 80px;
  .illustration {
    margin-right: 60px;
  }

  .details {
    padding-top: 40px;

    p {
      font-size: 1.1rem;
      line-height: 1.6;
      margin-top: 40px;
      margin-bottom: 25px;
    }

    .button {
      font-family: "Poppins";
      font-size: 1.3rem;
      background-color: white;
      color: $violet;
      border-radius: 30px;
      width: 200px;
      height: 60px;
      box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.45);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0.3rem;
  .attribution {
    font-size: 11px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media (max-width: 375px) {
}
