@import "./starter";
@import "./fonts";

/* color ****************************/ /* primary */
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
/* neutral */
$dark-grayish-red: hsl(0, 6%, 24%);

/*
### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

.hero {
  min-height: 100vh;
  width: 100%;
  .logo {
    margin: 1.8rem;
    img {
      height: 1.5rem;
    }
  }
  .image {
    img {
      width: 100%;
      max-height: 45vh;
      object-fit: cover;
      object-position: top;
    }
  }
  .details {
    text-align: center;
    padding-top: 4rem;
    .heading-brown {
      color: $desaturated-red;
      font-size: 280%;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }

    .heading {
      font-size: 280%;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }

    p {
      margin-top: 1.1rem;
      color: $desaturated-red;
      padding-inline: 1.5rem;
      font-size: 90%;
      line-height: 1.6;
    }

    form {
      margin-top: 2rem;
      position: relative;
      margin-inline: 1.2rem;

      .form-group {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        input {
          border: 1px solid $desaturated-red;
          border-radius: 1.5rem;
          color: $desaturated-red;
          padding: 1rem;
          width: 100%;
          outline: $soft-red;
          &::placeholder {
            color: $desaturated-red;
          }
        }
        .error-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: -55%;
          display: none;
        }
        button {
          border: none;
          border-radius: 30px;
          appearance: none;
          transition: all 0.2s ease;
          padding: 0.9rem 1.8rem;
          margin-left: -20%;
          background-image: linear-gradient(
            135deg,
            $desaturated-red,
            $soft-red
          );
          box-shadow: 5px 5px 17px 5px hsla(0, 36%, 70%, 0.5);
          &:hover {
            cursor: pointer;
            box-shadow: 5px 5px 17px 10px hsla(0, 36%, 70%, 0.5);
          }
        }
      }

      .invalid-feedback {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: #dc3545;
        text-align: left;
        margin-left: 1rem;
        display: none;
      }

      &.invalid {
        .error-icon {
          display: flex;
        }
        .invalid-feedback {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hero {
    /* hero grid layout **********************/
    display: grid;
    grid-template-areas:
      "logo heroimage"
      "details heroimage";
    grid-template-columns: 53% auto;
    grid-template-rows: 10rem auto;
    .logo {
      grid-area: logo;
      align-self: center;
    }
    .image {
      grid-area: heroimage;
    }
    .details {
      grid-area: details;
    }
    /***********************/
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: left top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 60% 100%; /* Resize the background image to cover the entire container */

    padding-left: 9rem;
    .logo {
      margin-left: 1rem;
      img {
        height: 2rem;
      }
    }
    .image {
      picture {
        img {
          height: 100vh;
          max-height: 100vh;
        }
      }
    }
    .details {
      text-align: left;
      padding-top: 4.2rem;
      padding-left: 1rem;
      .heading-brown {
        font-size: 400%;
        letter-spacing: 1.15rem;
      }

      .heading {
        font-size: 410%;
        letter-spacing: 1.15rem;
        line-height: 1.1;
      }

      p {
        padding-inline: 0;
        width: 65%;
        line-height: 1.75;
        font-size: 100%;
      }
      form {
        margin-inline: 0;
        margin-top: 3rem;
        width: 65%;
        .form-group {
          button {
            padding: 0.9rem 2.5rem;
          }
        }
      }
    }
  }
}
