@import "./starter";
@import "./fonts";

/* color ****************************/ /* primary */
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
/* neutral */
$dark-grayish-red: hsl(0, 6%, 24%);

/*
### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/

.hero {
  min-height: 100vh;
  width: 100%;
  .logo {
    margin: 1.8rem;
    img {
      height: 1.5rem;
    }
  }

  .details {
    text-align: center;
    padding-top: 4rem;
    .heading-brown {
      color: $desaturated-red;
      font-size: 280%;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }

    .heading {
      font-size: 280%;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
    }

    p {
      margin-top: 1.1rem;
      color: $desaturated-red;
      padding-inline: 1.5rem;
      font-size: 90%;
      line-height: 1.6;
    }

    form {
      /*
      display: flex;
      align-items: center;
      justify-content: center;
      */
      position: relative;
      margin-inline: 1.2rem;
      input {
        border: 1px solid $desaturated-red;
        border-radius: 25px;
        color: $desaturated-red;
        padding: 1rem;
        width: 100%;
        outline: $soft-red;
        &::placeholder {
          color: $desaturated-red;
        }
      }
      button {
        background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
        border: none;
        border-radius: 30px;
        appearance: none;
        position: absolute;
        transition: all 0.2s ease;
        padding: 0.9rem 1.8rem;
        right: 0;
        top: 0;
      }
    }
  }
}
