@import "./reset";
@import "./fonts";

/* color ****************************/ /* primary */
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
/* neutral */
$dark-grayish-red: hsl(0, 6%, 24%);

/*
### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/
