@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  padding: 1rem;
}

.attribution {
  display: none;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  transition: color 0.3s ease-in-out;
}
.attribution a {
  color: hsl(240, 100%, 5%);
  font-weight: 700;
  transition: color 0.3s;
}
.attribution a:hover {
  color: hsl(5, 85%, 63%);
}

@media (min-width: 768px) {
  .attribution {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0rem;
    bottom: 1rem;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  padding-right: 1rem;
  height: 3rem;
  color: hsl(236, 13%, 42%);
  font-size: 145%;
  margin: 0 auto;
  max-width: 70rem;
}
header .logo {
  height: 2rem;
  width: auto;
}
header .hamburger {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../assets/images/icon-menu.svg");
  background-size: cover;
}
header .navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header .navbar-collapse ul {
  padding: 10rem 2rem;
  padding-inline: 1.5rem;
  flex-grow: 1;
  width: 14rem;
  background-color: hsl(36, 100%, 99%);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow: hidden;
}
header .navbar-collapse ul li {
  margin-bottom: 1.6rem;
}
header .navbar-collapse ul li a {
  transition: color 0.3s ease-in-out;
}
header .navbar-collapse ul li a:hover {
  color: hsl(5, 85%, 63%);
  font-weight: 600;
}
header.is-menu-open .hamburger {
  background-image: url("../assets/images/icon-menu-close.svg");
}
header.is-menu-open .navbar-collapse {
  background-color: hsla(240, 100%, 5%, 0.5);
  opacity: 1;
}
header.is-menu-open .navbar-collapse ul {
  transform: translateX(0%);
}

@media (min-width: 992px) {
  header {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
    padding: 0;
    font-size: 1rem;
    text-align: center;
  }
  header .logo {
    height: 2.5rem;
    width: auto;
  }
  header .hamburger {
    display: none;
  }
  header .navbar-collapse {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    height: auto;
    background-color: hsl(36, 100%, 99%);
    width: auto;
  }
  header .navbar-collapse ul {
    display: flex;
    flex-direction: row;
    width: auto;
    transform: translateX(0);
    overflow: visible;
    padding: 0;
  }
  header .navbar-collapse ul li {
    margin-left: 2.7rem;
    margin-bottom: 0;
    position: relative;
  }
  header.is-menu-open .navbar-collapse {
    background-color: hsl(36, 100%, 99%);
  }
}
.top-stories {
  margin-top: 4rem;
  gap: 2rem;
}
.top-stories article {
  gap: 1.5rem;
  width: 22rem;
}
.top-stories article img {
  width: 7rem;
  height: 8rem;
}
.top-stories article h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1;
  color: hsl(233, 8%, 79%);
}
.top-stories article p {
  color: hsl(236, 13%, 42%);
  line-height: 1.7;
}

.d-flex {
  display: flex;
  justify-content: stretch;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gap-2 {
  gap: 2rem;
}

main {
  max-width: 70rem;
  margin: 0 auto;
}
main .hero {
  min-width: 23rem;
}
main .hero .hero-content {
  margin-top: 2.7rem;
  display: flex;
  flex-direction: column;
}
main .hero .hero-content h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
  color: hsl(240, 100%, 5%);
  max-width: 23rem;
}
@media (min-width: 768px) {
  main .hero .hero-content {
    flex-direction: row;
  }
  main .hero .hero-content .hero-content-details {
    max-width: 22rem;
  }
}
@media (min-width: 1200px) {
  main .hero {
    max-width: 46rem;
  }
}
main .btn-cta {
  width: 12rem;
  text-align: center;
  padding: 1rem;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}
main aside {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 1.3rem;
  max-width: 22rem;
}
main aside h2 {
  color: hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2rem;
  margin-top: 1rem;
}
main aside ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}
main aside ul li {
  padding-block: 2rem;
  width: 100%;
  max-width: 20rem;
  border-bottom: hsl(236, 13%, 42%) 1px solid;
}
main aside ul li h3 {
  margin-bottom: 1rem;
}
main aside ul li p {
  color: hsl(233, 8%, 79%);
  line-height: 1.7;
}
main aside ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
@media (min-width: 768px) {
  main aside {
    max-width: 100%;
  }
  main aside ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  main aside ul li {
    margin-inline: 1rem;
  }
  main aside ul li:last-child {
    padding-bottom: 2rem;
    border-bottom: hsl(236, 13%, 42%) 1px solid;
  }
}
@media (min-width: 1200px) {
  main aside {
    max-width: 22rem;
  }
  main aside ul {
    flex-direction: column;
  }
  main aside ul li {
    margin-inline: 0;
  }
  main aside ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}/*# sourceMappingURL=style.css.map */