@mixin btn($bg-color, $color) {
    display: block;
    padding: 10px 15px;
    border-radius: $border-radius;
    background-color: $bg-color;
    border: $color 1px solid;
    color: $color;
    width: fit-content;
    margin: 0 auto;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}