header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-inline: 1rem;
    height: 3rem;

    .logo {
        margin-left: 20px;
    }

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0.5rem;
        z-index: 1;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("../images/icon-menu.svg");
        background-size: cover;
    }

    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


        >ul {
            padding-inline: 1.5rem;
            flex-grow: 1;
            width: 13rem;
            background-color: $almost-white;
            transform: translateX(100%);
            transition: transform 0.3s ease;

            >li {
                margin-bottom: 1rem;
                position: relative;

                img {
                    display: inline;
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    width: fit-content;
                    padding: 1.2rem;
                    top: 3rem;
                    left: 0;
                    background-color: $almost-white;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                    border-radius: $border-radius;
                    z-index: 1;

                    a {
                        display: block;
                    }
                }

                &.open {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }

            a {
                display: block;
                text-decoration: none;
                color: #000;
            }
        }

        >ul:first-child {
            padding-top: 5rem;
            flex-grow: 0;
        }


        .login,
        .signup {
            display: block;
            margin-left: 2rem;
            padding: 0.5rem 1rem;
        }

        .signup {
            @include btn($almost-white, $almost-black);
        }
    }

    &.is-menu-open {
        .hamburger {
            background-image: url("../images/icon-close-menu.svg");
        }

        .navbar-collapse {
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;

            >ul {
                transform: translateX(0%);
            }

        }
    }
}

@media (min-width: 992px) {

    header {
        height: 5rem;
        padding: 1rem 1rem;

        .logo {
            margin-left: 0px;
        }

        .hamburger {
            display: none;
        }

        .navbar-collapse {
            position: relative;

            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;

            opacity: 1;
            width: auto;
            height: auto;

            background-color: $almost-white;

            >ul {
                display: flex;
                flex-direction: row;
                width: auto;
                transform: translateX(0);

                >li {
                    margin-left: 2rem;
                    margin-bottom: 0;
                }
            }

            >ul:first-child {
                padding-top: 0;
                flex-grow: 1;
            }
        }

    }
}