@import "./colors";
@import "./starter";
@import "./typography";

.container {
  width: 100%;
  max-width: 1440px;
  max-height: 900px;
  margin-inline: auto;
  padding: 0 2.7rem;
  margin-block: 1.7rem;
  //outline: 2px solid red;
}

@mixin btn-mixin($color, $bg, $border) {
  color: $color;
  background-color: $bg;
  border: 1px solid $border;
  padding: 0.6rem 1.1rem;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60%;
  > .menu {
    display: flex;
  }
  & > ul,
  & > .menu > ul {
    list-style: none;
    display: flex;
    margin-left: 3.5rem;
    > li {
      margin-right: 1rem;
      font-size: 80%;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        margin-left: 0.5rem;
      }
      &.btn-register {
        @include btn-mixin($almost-black, $almost-white, $almost-black);
      }
    }
  }
}

.hero {
  display: flex;
  align-items: stretch;
  margin-inline: 1.5rem;
  padding-top: 1rem;
  .hero-details {
    width: 50%;
    padding-top: 10%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details-content {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-size: 430%;
        line-height: 1.1;
        font-weight: 700;
      }

      p {
        width: 80%;
        line-height: 1.5;
      }

      .btn-hero {
        @include btn-mixin($almost-white, $almost-black, $almost-white);
        width: fit-content;
        padding: 1rem 1.75rem;
      }
    }

    .clients {
      margin-top: 2rem;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 1rem;
    }
  }

  .hero-illustration {
    width: 49%;
    padding-left: 1rem;
    img {
      height: 35.5rem;
    }
  }
}

@import "./menu";
