$border-radius: 1rem;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
//colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

body {
    background-color: $almost-white;
    color: $almost-black;
}

//import the partials
@import "reset";
@import "components";
@import "colors";
@import "typography";
@import "utilities";
@import "layout";
@import "components";
@import "header";
@import "attribution";



.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100% - 5rem);
}

// Main styles
.hero {
    background-color: $almost-white;
    padding: 15px 0;
    height: 100%;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content {
        padding-top: 3.5rem;
        text-align: center;

        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 2.25rem;
            line-height: 1.16;
        }

        p {
            margin-bottom: 1.5rem;
            color: $medium-gray;
            line-height: 1.625;
        }

        .btn-cta {
            transition: background-color 0.2s ease-in-out;
            @include btn($almost-black, $almost-white);
            padding-block: 0.8rem;
            height: 3rem;
            width: 8.5rem;

            &:hover {
                @include btn($almost-white, $almost-black);
                width: fit-content;
            }
        }

        .partners {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 3rem;

            img {
                width: auto;
                height: 1.5rem;
                margin: 0 0.5rem;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .hero {
        .container {
            flex-direction: row-reverse;
        }


        .hero-content {
            text-align: left;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
                font-size: 5rem;
            }

            p {
                font-size: 1.15rem;
                margin-bottom: 1rem;
            }

            .btn {
                display: inline-block;

                a {
                    padding: 1rem 2rem;
                    font-size: 1rem;
                }
            }
        }

        .hero-img {
            flex-basis: 50%;
            display: flex;
            justify-content: end;
            padding-top: 3rem;

            picture {
                max-width: 80%;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .hero {
        .container {
            max-width: 1200px;

            .hero-content {
                min-height: 40rem;
                height: 100%;

                h1 {
                    margin-top: 3.5rem;
                    line-height: 1;
                }

                p {
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                    margin-right: 7rem;
                }

                padding-left: 3rem;
                padding-right: 1rem;

                .btn-cta {
                    margin: 0;
                    height: 3.5rem;
                    width: 10rem;
                    padding-top: 1rem;
                }
            }
        }
    }
}