@import "./colors";
@import "./starter";
@import "./typography";

.container {
  max-width: 1440px;
  max-height: 900px;
  margin-inline: auto;
  padding: 0 2.7rem;
  margin-block: 1.7rem;
  outline: 2px solid red;
}

@mixin btn-mixin($color, $bg, $border) {
  color: $color;
  background-color: $bg;
  border: 1px solid $border;
  padding: 0.6rem 1.1rem;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  .menu {
    display: flex;
  }
  ul {
    list-style: none;
    display: flex;
    margin-left: 3.5rem;
    li {
      margin-right: 1rem;
      font-size: 80%;
      display: flex;
      align-items: center;
      img {
        margin-left: 0.5rem;
      }
      &.btn-register {
        @include btn-mixin($almost-black, $almost-white, $almost-black);
      }
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  margin-inline: 9rem;
  margin-block: 2rem;
  min-height: calc(100vh - 9rem);

  .hero-details {
    width: 50%;
    h1 {
      font-size: 3.1rem;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }

  .hero-illustration {
    width: 50%;
    padding-left: 1rem;
    img {
      height: 35.5rem;
    }
  }
}
