/*
.attribution {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 54px);
    text-align: center;
    font-size: 0.875rem;
    text-decoration: none;
    color: $almost-black;

    a {
        color: $medium-gray;
        transition: color 0.3s;

        &:hover {
            color: $almost-black;
        }
    }
}

@media (max-width: 1200px) {
    .attribution {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 0rem;
        bottom: 0;
    }
}
*/