@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

@import "variables";
@import "reset";
@import "attribution";

//fonts
body {
    font-family: $montserrat-family;
    font-weight: $montserrat-weight-medium;
    font-size: $body-copy-font-size;
    background-color: $primary-cream;
    display: grid;
    place-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 21.5rem;
    height: 38rem;
    background: $neutral-white;
    border-radius: 0.7rem;
    margin: 1.8rem auto;

    >* {
        width: 100%;
        max-width: 100%;
    }

    .card__image {
        height: 15rem;
        overflow: hidden;
        flex: 0 0 auto;
    }

    .card__body {
        flex: 1 1 auto;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 5px;
            color: $neutral-dark-grayish-blue;
            text-transform: uppercase;
        }

        h2 {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 1;

            color: $neutral-very-dark-blue;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            line-height: 1.65;
            color: $neutral-dark-grayish-blue;
        }


        .prices {
            display: flex;
            align-items: center;

            .new-price {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 700;
                font-size: 2rem;
                line-height: 1;
                color: $primary-dark-cyan;
                margin-right: 1rem;
            }

            .old-price {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 0.9rem;
                line-height: 1.77;
                text-decoration-line: line-through;
                color: $neutral-dark-grayish-blue;
            }
        }

        .add-to-cart {
            cursor: pointer;
            background: $primary-dark-cyan;
            border-radius: 0.55rem;
            width: 100%;
            border: none;
            padding: 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $neutral-white;
            transition: background-color 0.3s ease-in-out;

            img {
                margin-right: 1rem;
            }

            &:hover {
                background-color: hsla(158, 36%, 37%, 0.8);
            }
        }
    }
}

@media (min-width: 768px) {
    .card {
        width: 37.5rem;
        height: 28rem;
        flex-direction: row;

        .card__image {
            height: 100%;
            width: 50%;
        }

        .card__body {
            h2 {
                font-size: 2.1rem;
            }
        }
    }
}