/* color ****************************/
/* primary */
/* neutral */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Body {
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: #413a3a;
}

.attribution a {
  color: #f96262;
  transition: color 0.3s;
}

.attribution a:hover {
  color: #413a3a;
}

@media (max-width: 1200px) {
  .attribution {
    position: relative;
    margin-bottom: 1rem;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
}

/*
### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/
.hero {
  min-height: 100vh;
  width: 100%;
}

.hero .logo {
  margin: 1.8rem;
}

.hero .logo img {
  height: 1.5rem;
}

.hero .image img {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
  object-position: top;
}

.hero .details {
  text-align: center;
  padding-top: 4rem;
}

.hero .details .heading-brown {
  color: #ce9797;
  font-size: 280%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.hero .details .heading {
  font-size: 280%;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.hero .details p {
  margin-top: 1.1rem;
  color: #ce9797;
  padding-inline: 1.5rem;
  font-size: 90%;
  line-height: 1.6;
}

.hero .details form {
  margin-top: 2rem;
  position: relative;
  margin-inline: 1.2rem;
}

.hero .details form .form-group {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.hero .details form .form-group input {
  border: 1px solid #ce9797;
  border-radius: 1.5rem;
  color: #ce9797;
  padding: 1rem;
  width: 100%;
  outline: #f96262;
}

.hero .details form .form-group input::placeholder {
  color: #ce9797;
}

.hero .details form .form-group .error-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -55%;
  display: none;
}

.hero .details form .form-group button {
  border: none;
  border-radius: 30px;
  appearance: none;
  transition: all 0.2s ease;
  padding: 0.9rem 1.8rem;
  margin-left: -20%;
  background-image: linear-gradient(135deg, #ce9797, #f96262);
  box-shadow: 5px 5px 17px 5px rgba(249, 98, 98, 0.5);
}

.hero .details form .form-group button:hover {
  cursor: pointer;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  box-shadow: 5px 5px 17px 10px rgba(249, 98, 98, 0.5);
}

.hero .details form .invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  text-align: left;
  margin-left: 1rem;
  display: none;
}

.hero .details form.invalid .error-icon {
  display: flex;
}

.hero .details form.invalid .invalid-feedback {
  display: block;
}

@media (min-width: 768px) {
  .hero {
    /* hero grid layout **********************/
    display: grid;
    grid-template-areas: "logo heroimage" "details heroimage";
    grid-template-columns: 53% auto;
    grid-template-rows: 10rem auto;
    /***********************/
    background-image: url("../images/bg-pattern-desktop.svg");
    background-position: left top;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: 60% 100%;
    /* Resize the background image to cover the entire container */
    padding-left: 9rem;
  }
  .hero .logo {
    grid-area: logo;
    align-self: center;
  }
  .hero .image {
    grid-area: heroimage;
  }
  .hero .details {
    grid-area: details;
  }
  .hero .logo {
    margin-left: 1rem;
  }
  .hero .logo img {
    height: 2rem;
  }
  .hero .image picture img {
    height: 100vh;
    max-height: 100vh;
  }
  .hero .details {
    text-align: left;
    padding-top: 4.2rem;
    padding-left: 1rem;
  }
  .hero .details .heading-brown {
    font-size: 400%;
    letter-spacing: 1.15rem;
  }
  .hero .details .heading {
    font-size: 410%;
    letter-spacing: 1.15rem;
    line-height: 1.1;
  }
  .hero .details p {
    padding-inline: 0;
    width: 65%;
    line-height: 1.75;
    font-size: 100%;
  }
  .hero .details form {
    margin-inline: 0;
    margin-top: 3rem;
    width: 65%;
  }
  .hero .details form .form-group button {
    padding: 0.9rem 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */