 .attribution {
     position: absolute;
     bottom: 1rem;
     left: 0;
     right: 0;
     text-align: center;
     margin: auto;
     font-size: 0.875rem;
     text-decoration: none;
     color: $color-neutral-off-black;
     transition: color 0.3s ease-in-out;

     a {
         color: $color-primary-purple;
         transition: color 0.3s;

         &:hover {
             color: $color-primary-light-red;
         }
     }
 }