// Colors
$color-primary-purple: hsl(259, 100%, 65%);
$color-primary-light-red: hsl(0, 100%, 67%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-off-white: hsl(0, 0%, 94%);
$color-neutral-light-grey: hsl(0, 0%, 86%);
$color-neutral-smokey-grey: hsl(0, 1%, 44%);
$color-neutral-off-black: hsl(0, 0%, 8%);

// Typography
$font-size-inputs-mobile: 24px;
$font-size-inputs: 32px;



// Font
$font-family: 'Poppins', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;