@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import './variables';
@import './reset';
@import './attribution';

body {
    font-family: $font-family;
    background: $color-neutral-off-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
}

.container {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    background-color: #FFF;
}

form {
    position: relative;
    max-width: 100%;

    .form-container {
        max-width: 100%;
        display: flex;
        gap: 1rem;
    }

    .input-group {
        width: 32%;

        * {
            display: block;
        }

        .invalid-feedback {
            color: red;
            font-size: 12px;
            font-weight: 400;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            display: none;
        }

        label {
            font-size: 14px;
            font-weight: $font-weight-bold;
            color: $color-neutral-smokey-grey;
            //margin-bottom: 1rem;
        }

        input {
            max-width: 100%;
            padding: 0.4rem 0.8rem;
            font-size: $font-size-inputs;
            font-weight: $font-weight-bold;
            color: $color-neutral-off-black;
            border: 1px solid $color-neutral-light-grey;
            border-radius: 0.5rem;
            background-color: transparent;

            //padding: 0.5rem 0;
            //margin-bottom: 1rem;
            //width: 100%;
            &::placeholder {
                color: $color-neutral-smokey-grey;
            }

            &:focus {
                border-color: $color-primary-purple;
                //outline: $color-primary-purple;
            }

            &:focus-visible {
                //border-color: $color-primary-purple;
                outline: $color-primary-purple;
            }
        }

        &.error {
            label {
                color: red;
            }

            input {
                border-color: red;
            }

            .invalid-feedback {
                display: block;
            }
        }

    }

    .submit {
        display: flex;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            bottom: 3rem;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $color-neutral-light-grey;
        }

        button {
            z-index: 1;
            border-radius: 50%;
            width: 6rem;
            aspect-ratio: 1;
            display: grid;
            place-items: center;
            border: none;
            font-size: 16px;
            font-weight: $font-weight-bold;
            color: $color-neutral-white;
            background-color: $color-primary-purple;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $color-neutral-off-black;
            }
        }
    }
}

.result {
    max-width: 100%;
    font-size: 104px;
    font-weight: $font-weight-extra-bold;

    .counter {
        color: $color-primary-purple;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 3.5rem;
    }

    form {
        .submit {
            //text-align: right;
            justify-content: flex-end;
        }
    }
}