.card {
  max-width: 920px;
}

.attribution {
  position: absolute;
  bottom: 0.25rem;
  width: 100%;
  text-align: center;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
