.card {
  max-width: 920px;

  .accordion-item {
    .accordion-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 2s;
    }
  }
  .accordion-item-open {
    .accordion-body {
      max-height: 100px;
    }
  }
}

.attribution {
  position: absolute;
  bottom: 0.25rem;
  width: 100%;
  text-align: center;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
