* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 920px;
  height: 510px;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  picture {
    overflow: hidden;
  }
  .illustration {
    width: 450px;
    height: 500px;
    position: relative;
    img {
      position: absolute;
    }

    .illustration-box {
      img {
        z-index: 3;
        top: 59%;
        left: 0;
        transform: translate(-50%, -50%);
      }
    }

    .illustration-main {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .illustration-image {
        width: 100%;
        img {
          top: 13%;
          left: -21%;
          z-index: 2;
        }
      }
    }

    .bg-pattern {
      width: 100%;
      img {
        width: 450px;
        top: 12.5%;
        left: -17%;
        z-index: 1;
      }
    }
  }
  .content {
    width: 450px;
    h1 {
      margin-bottom: 17px;
    }
    .accordion {
      max-width: 350px;
      .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .card {
    flex-direction: column;
    justify-content: center;
    width: 87%;
    min-width: 328px;
    picture {
      overflow: visible;
    }
    .illustration {
      width: 100%;
      height: 130px;
      position: relative;
      img {
        position: absolute;
      }

      .illustration-box {
        display: none;
      }

      .illustration-main {
        overflow: visible;
        position: relative;
        width: 50%;
        margin: auto;
        height: 100%;
        .illustration-image {
          position: absolute;
          top: -200%;
          width: 100%;
          img {
            width: 100%;
            top: -50%;
            left: 0;
            z-index: 2;
          }
        }
      }

      .bg-pattern {
        position: absolute;
        width: 50%;
        height: 100%;
        top: -70%;
        /*left: 26%;*/
        left: 34%;
        overflow: visible;
        img {
          width: 100%;
          top: 12.5%;
          left: -17%;
          z-index: 1;
        }
      }
    }

    .content {
      width: 280px;
      h1 {
        width: 100%;
        text-align: center;
      }
    }
  }
}
@media (max-width: 376px) {
  .card {
    .illustration {
      .illustration-main {
        width: 73%;
        .illustration-image {
          top: -123%;
        }
      }

      .bg-pattern {
        width: 73%;
        top: -21px;
        left: 26%;
      }
    }
  }
}
