@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 0.875rem;
  text-decoration: none;
  color: hsl(0, 0%, 8%);
  transition: color 0.3s ease-in-out;
}
.attribution a {
  color: hsl(259, 100%, 65%);
  transition: color 0.3s;
}
.attribution a:hover {
  color: hsl(0, 100%, 67%);
}

body {
  font-family: "Poppins", sans-serif;
  background: hsl(0, 0%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1rem;
}

.container {
  width: 100%;
  min-width: 343px;
  max-width: 840px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
  background-color: #FFF;
}

form {
  position: relative;
  max-width: 100%;
  margin-bottom: 2rem;
}
form .form-container {
  max-width: 100%;
  display: flex;
  gap: 2rem;
}
form .input-group {
  width: 32%;
  max-width: 10rem;
}
form .input-group * {
  display: block;
}
form .input-group .invalid-feedback {
  color: red;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: none;
}
form .input-group label {
  font-size: 14px;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}
form .input-group input {
  max-width: 100%;
  padding: 0.4rem 1rem;
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}
form .input-group input::-moz-placeholder {
  color: hsl(0, 0%, 8%);
  opacity: 0.5;
}
form .input-group input::placeholder {
  color: hsl(0, 0%, 8%);
  opacity: 0.5;
}
form .input-group input:focus {
  border-color: hsl(259, 100%, 65%);
}
form .input-group input:focus-visible {
  outline: hsl(259, 100%, 65%);
}
form .input-group.error label {
  color: red;
}
form .input-group.error input {
  border-color: red;
}
form .input-group.error .invalid-feedback {
  display: block;
}
form .submit {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
form .submit::before {
  content: "";
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  height: 1px;
  background-color: hsl(0, 0%, 86%);
}
form .submit button {
  z-index: 1;
  border-radius: 50%;
  width: 6rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(259, 100%, 65%);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
form .submit button:hover {
  background-color: hsl(0, 0%, 8%);
}

.result {
  max-width: 100%;
  font-size: 54px;
  font-weight: 800;
  font-style: italic;
  line-height: 1.1;
}
.result .counter {
  color: hsl(259, 100%, 65%);
}

@media (min-width: 768px) {
  .container {
    padding: 3.5rem;
  }
  form {
    margin-bottom: 0;
  }
  form .submit {
    margin-top: 0;
    justify-content: flex-end;
  }
  .result {
    font-size: 104px;
  }
}/*# sourceMappingURL=style.css.map */