/* Colors ***********************************/
/* Primary */
/* Secondary */
/* Neutral */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  color: #151f29;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Body {
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

.attribution {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
}

.attribution a {
  color: #4f7df3;
  transition: color 0.3s;
}

.attribution a:hover {
  color: #ff5263;
}

/*
@media (max-width: 1200px) {
  .attribution {
    position: relative;
    margin-bottom: 1rem;
  }
}
*/
body {
  text-align: center;
}

.container {
  padding-top: 5.3rem;
  text-align: center;
  padding-inline: 1rem;
  max-width: 40rem;
  margin-inline: auto;
}

.logo {
  display: grid;
  place-content: center;
}

.logo img {
  height: 1rem;
}

.heading {
  margin-top: 2.5rem;
  font-size: 110%;
  color: #969696;
}

.heading span {
  font-weight: 700;
  color: #151f29;
}

#mail-form {
  margin-top: 0.75rem;
  padding-inline: 1.65rem;
  text-align: center;
}

#mail-form label {
  font-size: 60%;
}

#mail-form input {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.65rem;
}

#mail-form input[type="text"] {
  margin-top: 1.9rem;
  border: 1px solid #c2d3ff;
}

#mail-form input[type="submit"] {
  margin-top: 0.6rem;
  color: white;
  border: none;
  background-color: #4f7df3;
  cursor: pointer;
  box-shadow: 5px 5px 15px 1px rgba(79, 125, 243, 0.37);
  transition: box-shadow 0.3s;
}

#mail-form input[type="submit"]:hover {
  background-color: rgba(79, 125, 243, 0.8);
  box-shadow: 10px 10px 15px 1px rgba(79, 125, 243, 0.37);
}

#mail-form .invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  text-align: left;
  margin-left: 1rem;
  display: none;
}

#mail-form.invalid .invalid-feedback {
  display: block;
}

.illustration {
  margin-top: 4.5rem;
  margin-inline: auto;
}

.social {
  margin-top: 7.5rem;
  padding-inline: 6.5rem;
  margin-inline: auto;
  width: 100%;
  max-width: 20.5rem;
  display: flex;
  justify-content: space-between;
}

.social a {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #c2d3ff;
  display: grid;
  place-content: center;
  transition: all 0.3s;
}

.social a svg {
  fill: #4f7df3;
  width: 1rem;
  height: 1rem;
}

.social a:hover {
  background-color: #4f7df3;
  border: 1px solid #4f7df3;
}

.social a:hover svg {
  fill: white;
}

.licence {
  margin-top: 1.65rem;
  font-size: 50%;
  color: #969696;
}

footer {
  margin-top: 4rem;
  padding-inline: 1rem;
  text-align: center;
}

@media (min-width: 576px) {
  .container {
    padding-inline: 0;
  }
  .logo img {
    height: 1.5rem;
  }
  .heading {
    margin-top: 3rem;
    font-size: 240%;
  }
  #mail-form {
    margin-top: 1rem;
    padding-inline: 0;
  }
  #mail-form label {
    font-size: 100%;
  }
  #mail-form input {
    display: inline;
    padding: 1.15rem;
    border-radius: 2rem;
    font-size: 85%;
  }
  #mail-form input[type="text"] {
    margin-top: 2.75rem;
    margin-right: 2%;
    width: 66%;
  }
  #mail-form input[type="submit"] {
    width: 31%;
  }
  #mail-form .form-group {
    display: flex;
    align-items: center;
  }
  .illustration {
    margin-top: 5rem;
  }
  .social {
    margin-top: 4.5rem;
  }
  .licence {
    font-size: 60%;
  }
}
/*# sourceMappingURL=style.css.map */