@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  z-index: -3;
  background-color: white;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 130px auto;
  width: 920px;
  height: 510px;
  position: relative;
}

.illustration {
  position: relative;
  width: 462px;
}

.illustration img {
  position: absolute;
}

.illustration img:nth-child(1) {
  width: 471px;
  top: 0;
  left: -85px;
  z-index: -1;
}

.illustration img:nth-child(2) {
  top: 45px;
  left: -85px;
  z-index: 0;
}

.illustration img:nth-child(3) {
  top: 180px;
  left: -94px;
  z-index: 1;
}

.questions {
  width: 462px;
  padding: 70px 12px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 13px;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.tab-label:nth-child(1) {
  border: solid 1px black;
}

.tab-label:nth-child(2) {
  border: solid 1px black;
}

.tab-label:nth-child(3) {
  border: solid 1px black;
}

.tab span {
  background-color: #777777;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #e6e6e6;
}

.tab-label:focus {
  -webkit-box-shadow: 10px 10px red;
          box-shadow: 10px 10px red;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: white;
  cursor: pointer;
}

.tab-close:hover {
  background: #e6e6e6;
}

input:checked + .tab-label {
  font-weight: 700;
}

input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}
