@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  z-index: -3;
  background-color: white;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 130px auto;
  width: 920px;
  height: 510px;
  position: relative;
}

.illustration {
  position: relative;
  width: 462px;
}

.illustration img {
  position: absolute;
}

.illustration img:nth-child(1) {
  width: 471px;
  top: 0;
  left: -85px;
  z-index: -1;
}

.illustration img:nth-child(2) {
  top: 45px;
  left: -85px;
  z-index: 0;
}

.illustration img:nth-child(3) {
  top: 180px;
  left: -94px;
  z-index: 1;
}

.questions {
  width: 462px;
  padding: 70px 12px;
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}
