/* Colors ****************************************/
/* Primary ***************************************/
/*Text*/
/*Gradient*/
/*Background gradient:*/
/*Neutral*/
/*Text*/
/*Dividers*/
/*
html {
  min-height: 100%;
}*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  height: 100vh;
  background-image: linear-gradient(#af67e9, #6565e7);
}

.card {
  background-color: white;
}

h1 {
  color: #6565e7;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

.card {
  box-shadow: 1px 11px 28px -3px rgba(0, 0, 0, 0.65);
}

.card h1 {
  font-size: 250%;
}

.card .accordion-item {
  border-bottom: 1px solid #e7e7e9;
  padding: 20px 0;
}

.card .accordion-item .accordion-header {
  font-size: 120%;
  transition: font-weight 2s;
}

.card .accordion-item .accordion-body {
  padding-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}

.card .accordion-item img {
  transition: transform 0.5s;
}

.card .accordion-item-open .accordion-header {
  font-weight: 700;
}

.card .accordion-item-open .accordion-body {
  max-height: 50px;
}

.card .accordion-item-open img {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .card .content .accordion-header {
    font-size: 115%;
  }
}

.attribution {
  position: absolute;
  bottom: 0.25rem;
  width: 100%;
  text-align: center;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: gainsboro;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 920px;
  height: 510px;
  border-radius: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card picture {
  overflow: hidden;
}

.card .illustration {
  width: 450px;
  height: 500px;
  position: relative;
}

.card .illustration img {
  position: absolute;
}

.card .illustration .illustration-box img {
  z-index: 3;
  top: 59%;
  left: 0;
  transform: translate(-50%, -50%);
}

.card .illustration .illustration-main {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .illustration .illustration-main .illustration-image {
  width: 100%;
}

.card .illustration .illustration-main .illustration-image img {
  top: 13%;
  left: -21%;
  z-index: 2;
}

.card .illustration .bg-pattern {
  width: 100%;
}

.card .illustration .bg-pattern img {
  width: 450px;
  top: 12.5%;
  left: -17%;
  z-index: 1;
}

.card .content {
  width: 450px;
}

.card .content h1 {
  margin-bottom: 17px;
}

.card .content .accordion {
  max-width: 350px;
}

.card .content .accordion .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

@media (max-width: 992px) {
  .card {
    flex-direction: column;
    justify-content: center;
    width: 87%;
    min-width: 328px;
  }
  .card picture {
    overflow: visible;
  }
  .card .illustration {
    width: 100%;
    height: 130px;
    position: relative;
  }
  .card .illustration img {
    position: absolute;
  }
  .card .illustration .illustration-box {
    display: none;
  }
  .card .illustration .illustration-main {
    overflow: visible;
    position: relative;
    width: 50%;
    margin: auto;
    height: 100%;
  }
  .card .illustration .illustration-main .illustration-image {
    position: absolute;
    top: -200%;
    width: 100%;
  }
  .card .illustration .illustration-main .illustration-image img {
    width: 100%;
    top: -50%;
    left: 0;
    z-index: 2;
  }
  .card .content {
    width: 280px;
  }
  .card .content h1 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 376px) {
  .card .illustration .illustration-main {
    /*
        overflow: visible;
        position: relative;
        */
    width: 73%;
    /*
        margin: auto;
        height: 100%;
        */
  }
  .card .illustration .illustration-main .illustration-image {
    /*
          position: absolute;
          */
    top: -123%;
    /*
          width: 100%;
          img {
            width: 100%;
            top: -50%;
            left: 0;
            z-index: 2;
          }
          */
  }
  .card .illustration .bg-pattern {
    position: absolute;
    width: 73%;
    height: 100%;
    top: -21px;
    left: 26%;
    overflow: visible;
  }
  .card .illustration .bg-pattern img {
    width: 100%;
    top: 12.5%;
    left: -17%;
    z-index: 1;
  }
}
/*# sourceMappingURL=style.css.map */