$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);

$accent-blue: hsl(248, 32%, 49%);

$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);


body {
  background-color: $primary-red;
  color: white;
}
