@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100dvh;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.attribution {
  display: none;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: hsl(212, 21%, 14%);
  transition: color 0.3s ease-in-out;
}
.attribution a {
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  transition: color 0.3s;
}
.attribution a:hover {
  color: hsl(158, 36%, 37%);
}

@media (min-width: 768px) {
  .attribution {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0rem;
    bottom: 1rem;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
  display: grid;
  place-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 21.5rem;
  height: 38rem;
  background: hsl(0, 0%, 100%);
  border-radius: 0.7rem;
  margin: 1.8rem auto;
}
.card > * {
  width: 100%;
  max-width: 100%;
}
.card .card__image {
  height: 15rem;
  overflow: hidden;
  flex: 0 0 auto;
}
.card .card__body {
  flex: 1 1 auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card__body h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
}
.card .card__body h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  color: hsl(212, 21%, 14%);
}
.card .card__body p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 1.65;
  color: hsl(228, 12%, 48%);
}
.card .card__body .prices {
  display: flex;
  align-items: center;
}
.card .card__body .prices .new-price {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  color: hsl(158, 36%, 37%);
  margin-right: 1rem;
}
.card .card__body .prices .old-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.77;
  text-decoration-line: line-through;
  color: hsl(228, 12%, 48%);
}
.card .card__body .add-to-cart {
  cursor: pointer;
  background: hsl(158, 36%, 37%);
  border-radius: 0.55rem;
  width: 100%;
  border: none;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: hsl(0, 0%, 100%);
  transition: background-color 0.3s ease-in-out;
}
.card .card__body .add-to-cart:hover {
  background-color: hsl(157, 43%, 18%);
}

@media (min-width: 768px) {
  .card {
    width: 37.5rem;
    height: 28rem;
    flex-direction: row;
  }
  .card .card__image {
    height: 100%;
    width: 50%;
  }
  .card .card__body h2 {
    font-size: 2.1rem;
  }
}/*# sourceMappingURL=style.css.map */