@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* Colors *************************/
/* Primary */
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
/* Neutral */
$very-dark-blue1: hsl(217, 54%, 11%); //main BG
$very-dark-blue2: hsl(216, 50%, 16%); //card BG
$very-dark-blue3: hsl(215, 32%, 27%); //line

Body {
  font-size: 18px;
  background-color: $very-dark-blue1;
  min-height: 100vh;
}

/*
Font
Weights: 300, 400, 600
*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.card {
  width: 352px;
  padding: 25px;
  border-radius: 1rem;
  background-color: $very-dark-blue2;
  color: $soft-blue;
  position: relative;
  > a > img {
    display: block;
    width: 100%;
    height: 100%;
  }

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    opacity: 0;
  }
  > a {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    &:hover #overlay {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
  .heading {
    color: white;
    font-size: 123%;
    font-weight: 600;
    margin-top: 1.1rem;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 23px;
    line-height: 1.5;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $cyan;
    }
  }

  #etherium-value {
    img {
      height: 18px;
      width: 11px;
      margin-right: 0.5rem;
    }
    font-size: 90%;
  }

  #etherium-timing {
    img {
      height: 18px;
      width: 18px;
      margin-right: 0.5rem;
    }
    font-size: 90%;
  }

  #author {
    margin-top: 24px;
    border-top: 1px solid $very-dark-blue3;
    padding-top: 19px;
    margin-bottom: 11px;
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid white;
      margin-right: 16px;
    }
    font-size: 91%;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  width: 100%;
  justify-content: space-between;
}

.white {
  color: white;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);

  a {
    color: $soft-blue;
    &:hover {
      color: $cyan;
      transition: color 0.3s;
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 24px;
  }

  .card {
    width: 325px;
    p {
      margin-bottom: 12px;
    }
    #author {
      margin-top: 19px;
      margin-bottom: 0;
    }
  }
}
