// Colors
// Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

// Typography
// Body Copy
$body-font-size: 15px;

// Fonts
// Lexend Deca
$lexend-deca-family: 'Lexend Deca', sans-serif;
$lexend-deca-weights: 400;

// Big Shoulders Display
$big-shoulders-display-family: 'Big Shoulders Display', sans-serif;
$big-shoulders-display-weights: 700;