@import "./reset";
@import "./variables";
@import "./attribution";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");


body {
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: $very-light-gray;
  padding: 1.5rem;
  font-size: 15px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
  min-width: 327px;
  height: fit-content;

  .card {
    padding: 50px;
    height: 500px;
    width: 100%;
    min-width: 327px;

    img {
      height: 40px;
      width: 65px;
    }

    h3 {
      color: $very-light-gray;
      font-family: 'Big Shoulders Display', sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      margin-top: 35px;
      margin-bottom: 29px;
    }

    p {
      margin-bottom: 103px;
      max-height: 100px;
      font-size: 93%;
      line-height: 1.62;
      color: $transparent-white;
    }


    .btn {
      border-radius: 3rem;
      text-decoration: none;
      background-color: $very-light-gray;
      display: block;
      width: 150px;
      padding: 1rem 0;
      text-align: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $very-light-gray !important;
        background-color: transparent;
        border: 2px solid $very-light-gray;
      }

    }

    &:first-child {
      background-color: $bright-orange;

      .btn {
        color: $bright-orange;
      }
    }

    &:nth-child(2) {
      background-color: $dark-cyan;

      .btn {
        color: $dark-cyan;
      }
    }

    &:last-child {
      background-color: $very-dark-cyan;

      .btn {
        color: $very-dark-cyan;
      }
    }

  }
}

@media (min-width: 992px) {

  .cards-container {
    flex-direction: row;

    .card {
      width: 307px;
    }

  }

}