@import "./reset";
@import "./variables";
@import "./attribution";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");


h3 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 250%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--very-light-gray);
  padding: 0 1.5rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  max-width: 921px;
  border-radius: 8px;
  overflow: hidden;

  img {
    height: 40px;
    width: 65px;
  }

  .card {
    padding: 50px;
    height: 500px;
    width: 327px;

    h3 {
      margin-top: 35px;
      margin-bottom: 29px;
    }

    p {
      margin-bottom: 103px;
      max-height: 100px;
      font-size: 93%;
      line-height: 1.62;
    }
  }

  .btn {
    border-radius: 3rem;
    text-decoration: none;
    background-color: $very-light-gray;
    display: block;
    width: 150px;
    padding: 1rem 0;
    text-align: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $very-light-gray !important;
      background-color: transparent;
      border: 2px solid $very-light-gray;
    }
  }

  .card:first-child {
    background-color: $bright-orange;

    .btn {
      color: $bright-orange;
    }
  }

  .card:nth-child(2) {
    background-color: $dark-cyan;

    .btn {
      color: $dark-cyan;
    }
  }

  .card:last-child {
    background-color: $very-dark-cyan;

    .btn {
      color: $very-dark-cyan;
    }
  }
}

@media (min-width: 992px) {

  .cards-container {
    flex-direction: row;

    .card {
      width: 307px;
    }

  }

}