// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
// Primary
$color-tomato: hsl(4, 100%, 67%);

// Neutral
$color-dark-slate-grey: hsl(234, 29%, 20%);
$color-charcoal-grey: hsl(235, 18%, 26%);
$color-grey: hsl(231, 7%, 60%);
$color-white: hsl(0, 0%, 100%);

// Typography
// Body Copy
$font-size-paragraph: 16px;

// Font
$font-family: "Roboto", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;