header {
    height: 3rem;

    .logo {
        margin-left: 20px;
    }

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: $border-radius;
        z-index: 1;

        &:focus {
            outline: $medium-gray 3px solid;
        }
    }

    nav {
        display: none;
        width: 100%;
        background-color: $almost-white;
        padding: 1rem 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        ul {
            li {
                margin-bottom: 1rem;
            }

            a {
                display: block;
                text-decoration: none;
                color: #000;
            }
        }
    }

    &.is-menu-open {
        .container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: 0.5);
            align-items: baseline;

            nav {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                display: block;
                width: 13rem;
            }
        }

    }
}

@media (min-width: 768px) {

    header {
        height: 5rem;
        padding: 1rem 1rem;

        .logo {
            margin-left: 0px;
        }

        .hamburger {
            display: none;
        }

        nav {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            ul {
                flex-direction: row;

                li {
                    margin-left: 2rem;
                    margin-bottom: 0;
                }
            }

            .login,
            .signup {
                display: block;
                margin-left: 2rem;
                padding: 0.5rem 1rem;
            }

            .signup {
                @include btn($almost-white, $almost-black);
            }
        }

    }
}