* {
    outline: red 1px solid;
}

header {
    padding-top: 20px;
    height: 60px;

    .logo {
        margin-left: 20px;
    }

    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 10px;
        border-radius: $border-radius;

        &:focus {
            outline: $medium-gray 3px solid;
        }
    }

    .menu {
        display: none;
    }

    .menu.is-open {
        display: block;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu li {
        margin-bottom: 1rem;
    }

    .menu a {
        display: block;
        text-decoration: none;
        color: #000;
    }

    .login,
    .signup {
        display: none;
    }

}

@media (min-width: 768px) {

    header {
        padding-top: 27px;

        .logo {
            margin-left: 0px;
        }

        .hamburger {
            display: none;
        }

        .menu {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .menu ul {
            flex-direction: row;
        }

        .menu li {
            margin-left: 2rem;
            margin-bottom: 0;
        }

        .login,
        .signup {
            display: block;
            margin-left: 2rem;
        }
    }
}