* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//import the partials
@import "colors";
@import "typography";
@import "layout";
@import "components";




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}