@import "./colors";
@import "./fonts";
@import "./starter";

body {
  text-align: center;
}

.container {
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  */
  height: 100vh;
  padding-top: 7rem;
  text-align: center;
}

.logo {
  display: grid;
  place-content: center;
  img {
    height: 1rem;
  }
}

.heading {
  margin-top: 3rem;
  font-size: 110%;
  span {
    font-weight: 700;
  }
}

.social {
  padding-inline: 7.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    //color: $blue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid $pale-blue;
    display: grid;
    place-content: center;
    svg {
      fill: $blue;
      width: 1rem;
      height: 1rem;
    }
  }
}
