@import "./colors";
@import "./fonts";
@import "./starter";

body {
  text-align: center;
}

.container {
  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  */
  padding-top: 5.3rem;
  text-align: center;
  padding-inline: 1rem;
}

.logo {
  display: grid;
  place-content: center;
  img {
    height: 1rem;
  }
}

.heading {
  margin-top: 2.5rem;
  font-size: 110%;
  span {
    font-weight: 700;
  }
}

#mail-form {
  margin-top: 0.75rem;
  padding-inline: 1.65rem;
  text-align: center;
  label {
    font-size: 60%;
  }
  input {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 1.5rem;
    padding: 0.65rem;
  }
  input[type="text"] {
    margin-top: 1.9rem;
    border-radius: 1.5rem;
    padding: 0.65rem;
    border: 1px solid $pale-blue;
  }
  input[type="submit"] {
    margin-top: 0.6rem;
    color: white;
    border: none;
    background-color: $blue;
  }
}

.illustration {
  margin-top: 4.5rem;
}

.social {
  margin-top: 7.5rem;
  padding-inline: 6.5rem;
  margin-inline: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    //color: $blue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid $pale-blue;
    display: grid;
    place-content: center;
    svg {
      fill: $blue;
      width: 1rem;
      height: 1rem;
    }
  }
}

.licence {
  margin-top: 1.65rem;
  font-size: 50%;
}

footer {
  padding-inline: 1rem;
  text-align: center;
}
