/* Layout *****************************************/
.container {
  margin: 85px 25px;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  .details {
    text-align: center;
  }
}
.stats {
  display: flex;
  flex-direction: column;
}
