/* Layout *****************************************/
$radius: 0.25rem;

.container {
  margin: 85px 25px;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  border-radius: $radius;
  min-width: 260px;
  .details {
    text-align: center;
    margin: 40px 35px;
    p {
      margin: 25px 0;
    }
  }

  .illustration {
    display: flex;
    align-items: stretch; /* had to use this make the image completely fit the parent element*/
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    overflow: hidden;
    picture {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.8;
      object-fit: cover;
    }
  }
}

.stats {
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
  /*
    keeping the same layout until medium screen size
  */
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 1110px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    .details {
      width: 52%;
      margin: 0;
      text-align: left;
      padding: 80px 120px 65px 75px;
      .stats {
        margin-top: 80px;
      }
    }

    .illustration {
      width: 47%;
      overflow: hidden;
      border-top-left-radius: 0;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      img {
        height: 100%;
      }
    }
  }

  .stats {
    flex-direction: row;
    justify-content: space-between;
  }
}
