/* Typography **************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.heading,
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 180%;
}

p {
  font-size: 95%;
  line-height: 1.6;
}
