/* Typography **************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  /*
    font-family: 'Inter', sans-serif;
  */
}
