// reset
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Colors ------------------------------------------------------
// primary
$Dark-cyan: hsl(185, 75%, 39%);
$Very-dark-desaturated-blue: hsl(229, 23%, 23%);
$Dark-grayish-blue: hsl(227, 10%, 46%);

// neutral
$Dark-gray: hsl(0, 0%, 59%);

// Fonts ------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

$border-radius: 14px;

body {
  background-color: $Dark-cyan;
  position: relative;
  text-align: center;
  color: $Very-dark-desaturated-blue;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:
  top -526px left -328px, bottom -644px right -253px;
}

.location, .age, .type {
  color: $Dark-grayish-blue;
}

.card {
  width: 350px;
  border-radius: $border-radius;
  background-color: white;
  position: relative;
  margin: 170px auto;

  .header {
    height: 140px;
    background: url("../images/bg-pattern-card.svg") no-repeat center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    position: relative;

    .profile-img {
      width: 112px;
      border-radius: 50%;
      background: white;
      padding: 6px;
      position: absolute;
      top: 84px;
      left: 120px;
    }
  }

  .name {
    margin-top: 75px;
    margin-bottom: 12px;
    font-weight: 700;
    .age {
      font-weight: 400;
    }
  }
  .location {
    margin-bottom: 24px;
  }
}

.social-info {
  border-top: solid 1px $Dark-gray;
  display: flex;
  justify-content: space-between;
  padding: 24px 46px;
}

.number {
  font-weight: 700;
  margin-bottom: 8px;
}



.attribution {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 375px) {

  body {
    background-image: url("../images/bg-pattern-top.svg"), 
                      url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:
      top -642px left -728px, bottom -502px right -799px;;
  }

}
