@import './variables';
@import './reset';
@import './utilities';
@import './attribution';

body {
    font-family: $font-family;
    background: #F2F2F2;
    display: grid;
    place-content: center;
    min-height: 100dvh;
}

.notifications {
    margin: auto;
    max-width: 730px;
    padding: 1.5rem 1rem;
    background: white;
    box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
    border-radius: 15px;


    .header {
        margin-bottom: 1.3rem;

        .title {
            font-size: 14px;
            align-items: flex-end;
            gap: 0.45rem;

            span {
                background: #0A327B;
                border-radius: 6px;
                padding: 0.2rem 0.7rem;
                color: white;
                font-weight: 800;
            }
        }

        .btn-clear-all {
            background: none;
            border: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            color: $dark-grayish-blue;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $blue;
            }
        }

    }

    .notification {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        background-color: $very-light-grayish-blue;
        border-radius: 8px;
        padding: 1rem;
        margin-bottom: 0.5rem;
        margin-inline: 0.5rem;

        img {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
        }

        .details {
            margin-left: 1rem;
        }

        .name {
            font-weight: 800;
            color: $very-dark-blue;
            transition: color 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $blue;
            }
        }

        .action {
            color: $dark-grayish-blue;
        }

        .subject {
            font-weight: 700;
            color: $dark-grayish-blue;
            cursor: pointer;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $blue;
            }
        }

        .message {
            color: $dark-grayish-blue;

            border: 1px solid $light-grayish-blue-2;
            border-radius: 5px;
            padding: 1rem 0.7rem;
            margin-block: 1.5rem;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: $light-grayish-blue-1;
            }
        }

        .timestamp {
            color: $grayish-blue;
        }

        .red-dot {
            color: $red;
            font-size: 1.35rem;
            margin-left: 0.3rem;
        }

        .notification-image {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 768px) {
    .notifications {

        padding: 2.3rem 2rem;

        .header {
            margin-bottom: 2rem;
        }

        .notification {
            font-size: 16px;
            margin-inline: 1rem;

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}