@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

/* Colors ************************/

/* Primary */
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);

/* Neutral */
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

/**********************************/

body {
  font-size: 16px;
  min-height: 100vh;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 48%;
  background-color: $pale-blue;
  padding: 0 1.5rem;
  .order-card {
    max-width: 28rem;
    min-width: 20rem;
    border-radius: 1.2rem;
    overflow: hidden;
    background-color: white;
    .card-body {
      text-align: center;
      padding: 0 3rem;
      padding-bottom: 3rem;
      .heading {
        font-size: 175%;
        font-weight: 900;
        margin-top: 2.5rem;
        margin-bottom: 1.1rem;
        color: $dark-blue;
      }

      p {
        color: $desaturated-blue;
        line-height: 1.6;
      }

      .plan {
        margin-top: 1.3rem;
        margin-bottom: 2.3rem;
        padding: 1.3rem;
        background-color: $very-pale-blue;
        border-radius: 0.5rem;
        color: $dark-blue;
        img {
          margin-right: 1.2rem;
        }
        .plan-type {
          font-weight: 900;
          margin-bottom: 0.15rem;
        }
        a {
          color: $dark-blue;
          text-decoration: underline;
          transition: color 0.2s, underline 0.2s;
          &:hover {
            text-decoration: none;
            color: rgb(118, 108, 241);
          }
        }
      }
      a {
        display: block;
        font-weight: 900;
      }
      > a {
        text-decoration: none;
        color: $dark-blue;
      }

      .btn {
        background-color: $bright-blue;
        color: white;
        padding: 1rem;
        text-align: center;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        transition: background-color 0.3s;
        &:hover {
          background-color: rgb(118, 108, 241);
        }
      }

      .cancel-order {
        color: $desaturated-blue;
        transition: color 0.3s;
        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

.justify-content-between {
  width: 100%;
  justify-content: space-between;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: $desaturated-blue;

  a {
    color: $bright-blue;
    transition: color 0.3s;
    &:hover {
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 12px;
  }

  .hero-container {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 40%;
    .order-card {
      img {
        height: 10rem;
      }
      .card-body {
        text-align: center;
        padding: 0 1.5rem;
        padding-bottom: 1.8rem;
        .plan {
          margin-top: 1.3rem;
          margin-bottom: 1rem;
          img {
            width: 3rem;
            height: 3rem;
            margin-right: 1.2rem;
          }
        }

        p,
        .plan,
        .btn,
        .cancel-order {
          font-size: 0.9rem;
        }
      }
    }
  }
}
