@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background-color: #ff7a7a;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Body {
  padding: 0 1.5rem;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 54px);
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none;
}

.attribution a {
  transition: color 0.3s;
}

/*
activate in case mobile display take more than 100vh
*/
@media (max-width: 1200px) {
  .attribution {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0rem;
    bottom: 0;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  place-content: center;
}

.hero {
  display: flex;
  align-items: center;
  margin-inline: 9rem;
}

.hero .hero-details {
  width: 50%;
}

.hero .hero-details h1 {
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero .hero-form {
  width: 50%;
  padding-left: 1rem;
}

.hero .hero-form .accented {
  background-color: #6055a5;
  color: white;
  border-radius: 0.5rem;
  padding-block: 1rem;
  font-size: 95%;
  text-align: center;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.1);
}

.hero .hero-form .accented span {
  font-weight: 700;
}

.hero .hero-form .form {
  width: 100%;
  padding: 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.1);
}

.hero .hero-form .form input {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 95%;
  width: 100%;
  margin-bottom: 1.2rem;
  font-size: 95%;
  border: 1px solid #b9b6d3;
  font-weight: 600;
  color: #3e3c49;
}

.hero .hero-form .form input:focus {
  outline: none;
  border: 1px solid #3e3c49;
}

.hero .hero-form .form input[type=submit] {
  border-color: #38cc8c;
  background-color: #38cc8c;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-bottom: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px rgba(33, 119, 82, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}

.hero .hero-form .form input[type=submit]:hover {
  background-color: #38cc8c;
  opacity: 0.7;
  box-shadow: 3px 6px 0px 0px rgba(33, 119, 82, 0.5);
}

.hero .hero-form .form .message {
  width: 100%;
  text-align: center;
  font-size: 68%;
  font-weight: 600;
  color: #b9b6d3;
}

.hero .hero-form .form .message a {
  color: #ff7a7a;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .hero {
    margin-inline: 0rem;
  }
  .hero .hero-details {
    margin-right: 0;
  }
  .hero .hero-form .form {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: block;
    padding: 0 1rem;
  }
  .hero {
    display: block;
    margin-top: 5.5rem;
  }
  .hero .hero-details {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .hero .hero-details h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  .hero .hero-form {
    width: 100%;
    margin-top: 4.5rem;
    padding-left: 0;
  }
  .hero .hero-form .accented {
    padding: 1.5rem 3rem;
  }
  .hero .hero-form .form {
    padding: 1rem;
  }
  .hero .hero-form .form .message {
    padding-inline: 2rem;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=style.css.map */