// reset
*,
*:before,
*:after {
  box-sizing: border-box;
}

//Colors ------------------------------------------------------
// Primary
// Text
$Very_dark_desaturated_blue: hsl(238, 29%, 16%);
$Soft_red: hsl(14, 88%, 65%);

// Gradient
// Background gradient:
$Soft_violet: hsl(273, 75%, 66%);
$Soft_blue: hsl(240, 73%, 65%);

// Neutral
// Text
$Very_dark_grayish_blue: hsl(237, 12%, 33%);
$Dark_grayish_blue: hsl(240, 6%, 50%);
// Dividers
$Light_grayish_blue: hsl(240, 5%, 91%);

// Fonts ------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

$border-radius: 14px;

body {
  background-image: linear-gradient($Soft_violet, $Soft_blue);
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  z-index: -3;
  background-color: white;
  border-radius: $border-radius;
  display: flex;
  margin: 130px auto;
  width: 920px;
  height: 510px;
  position: relative;
}

.illustration {
  position: relative;
  width: 462px;
  img {
    position: absolute;
  }
  img:nth-child(1) {
    width: 471px;
    top: 0;
    left: -85px;
    z-index: -1;
  }
  img:nth-child(2) {
    top: 45px;
    left: -85px;
    z-index: 0;
  }
  img:nth-child(3) {
    top: 180px;
    left: -94px;
    z-index: 1;
  }
}

.questions {
  width: 462px;
  padding: 70px 12px;
}

input {
  position: absolute;
  opacity: 0;
  //display: none;
  z-index: -1;
  width: 13px;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  position: relative;
  width: 100%;
  // color: white;
  overflow: hidden;
  &-label:nth-child(1) {border: solid 1px black;}
  &-label:nth-child(2) {border: solid 1px black;}
  &-label:nth-child(3) {border: solid 1px black;}
  span {
      background-color: #777777;
  }
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken(white, 10%);
    }
    &:focus {
        box-shadow: 10px 10px red;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: white;
    cursor: pointer;
    &:hover {
      background: darken(white, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    font-weight: 700;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 375px) {
}
