// reset
*,
*:before,
*:after {
  box-sizing: border-box;
}

//Colors ------------------------------------------------------
// Primary
// Text
$Very_dark_desaturated_blue: hsl(238, 29%, 16%);
$Soft_red: hsl(14, 88%, 65%);

// Gradient
// Background gradient:
$Soft_violet: hsl(273, 75%, 66%);
$Soft_blue: hsl(240, 73%, 65%);

// Neutral
// Text
$Very_dark_grayish_blue: hsl(237, 12%, 33%);
$Dark_grayish_blue: hsl(240, 6%, 50%);
// Dividers
$Light_grayish_blue: hsl(240, 5%, 91%);

// Fonts ------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

$border-radius: 14px;

body {
  background-image: linear-gradient($Soft_violet, $Soft_blue);
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  z-index: -3;
  background-color: white;
  border-radius: $border-radius;
  display: flex;
  margin: 130px auto;
  width: 920px;
  height: 510px;
  position: relative;
}

.illustration {
  position: relative;
  width: 462px;
  img {
    position: absolute;
  }
  img:nth-child(1) {
    width: 471px;
    top: 0;
    left: -85px;
    z-index: -1;
  }
  img:nth-child(2) {
    top: 45px;
    left: -85px;
    z-index: 0;
  }
  img:nth-child(3) {
    top: 180px;
    left: -94px;
    z-index: 1;
  }
}

.questions {
  width: 462px;
  padding: 70px 12px;
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 375px) {
}
