@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./partials/components.css";

main {
    max-width: 928px;
    min-width: 375px;

    .title {
        @apply text-4xl font-bold;
    }




    #signup-section {
        .content {
            padding-block: 83px;
            padding-inline: 32px;
            margin-right: 30px;

            ul {

                li {
                    @apply flex items-start gap-4 p-0;

                    margin-bottom: 4px;

                    span {
                        @apply p-0;
                    }
                }

                li:last-child {
                    margin-bottom: 0;
                }

                li::before {
                    margin-top: 4px;
                    content: "";
                    background-image: url(../assets/images/icon-list.svg);
                    background-size: 19px 19px;
                    background-repeat: no-repeat;
                    display: block;

                    width: 25px !important;
                    height: 25px !important;
                }
            }

            form {

                label {
                    font-feature-settings: 'clig' off, 'liga' off;

                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }

                #error-message {
                    color: var(--vermellion, #FF6155);
                    text-align: right;
                    font-feature-settings: 'clig' off, 'liga' off;

                    /* Body Small */
                    font-family: Roboto;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    /* 18px */
                }

                input {
                    border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));

                    &::placeholder {
                        color: var(--dark-navy, #242742);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }

                    &.error {
                        border: 1px solid var(--vermellion, #FF6155);
                        background: rgba(255, 97, 85, 0.15);
                        color: #ff6155;

                        &::placeholder {
                            color: var(--vermellion, #FF6155);
                        }
                    }
                }
            }

        }

        picture {
            display: block;
            overflow: hidden;
            height: 100%;
            max-height: 613px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                overflow: hidden;
            }
        }

    }

    #success-section {
        max-width: 504px;
    }
}