@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main {
    max-width: 928px;
    max-height: 641px;
    min-width: 375px;
    min-height: 842px;

    .details {
        padding-block: 97px;
        padding-inline: 32px;

        ul {
            * {
                outline: red solid 1px;
            }

            li {
                @apply flex gap-8 p-0 align-top;

                margin: 10px;

                span {
                    @apply p-0;
                }
            }

            li::before {
                margin-top: 4px;
                content: "";
                background-image: url(../assets/images/icon-list.svg);
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;

                width: 21px;
                /*height: 21px;*/
            }
        }

        form {
            >* {
                display: block;
            }

            label {
                font-feature-settings: 'clig' off, 'liga' off;

                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }

            input {
                border: 1px solid var(--grey-25, rgba(25, 24, 43, 0.25));

                &::placeholder {
                    color: var(--dark-navy, #242742);
                    font-feature-settings: 'clig' off, 'liga' off;
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 24px */
                    /* Add any other styles for the placeholder text as needed */
                }
            }
        }
    }
}