/* .attribution {
    display: none;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    text-decoration: none;
    color: $neutral-very-dark-blue;
    transition: color 0.3s ease-in-out;

    a {
        color: $neutral-very-dark-blue;
        font-weight: 700;
        transition: color 0.3s;

        &:hover {
            color: $primary-dark-cyan;
        }
    }
}

@media (min-width: 768px) {
    .attribution {
        display: block;
        margin-top: 1rem;
        margin-bottom: 0rem;
        bottom: 1rem;
    }
} */