//import partials

@import "variables";
@import "reset";

* {
    outline: red 1px solid;
}

body {
    font-family: $font-family;
    font-size: $body-copy-font-size;
    padding: 1rem;
}

@import "attribution";
@import "header";
@import "top-stories";
@import "utilities";

main {
    max-width: 70rem;
    margin: 0 auto;


    .hero {
        min-width: 23rem;

        .hero-content {
            margin-top: 2.7rem;
            display: flex;
            flex-direction: column;

            h1 {
                font-weight: 800;
                font-size: 56px;
                line-height: 56px;

                color: $very-dark-blue;
                max-width: 23rem;
            }
        }

        @media (min-width: 768px) {
            .hero-content {
                flex-direction: row;

                .hero-content-details {
                    max-width: 22rem;
                }
            }
        }


    }

    @media(min-width: 1200px) {
        .hero {
            max-width: 46rem;
        }
    }

    .btn-cta {
        width: 12rem;
        text-align: center;
        padding: 1rem;
        background-color: $soft-red;
        color: $off-white;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    aside {
        background-color: $very-dark-blue;
        color: $off-white;
        padding: 1.3rem;
        max-width: 22rem;

        h2 {
            color: $soft-orange;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 2rem;
            margin-top: 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 90%;

            li {
                padding-block: 2rem;
                width: 100%;
                max-width: 20rem;
                border-bottom: $dark-grayish-blue 1px solid;

                h3 {
                    margin-bottom: 1rem;
                }

                p {
                    color: $grayish-blue;
                    line-height: 1.7;
                }
            }

            li:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }


    @media (min-width: 768px) {
        aside {
            max-width: 100%;

            ul {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                li {
                    margin-inline: 1rem;
                }

                li:last-child {
                    padding-bottom: 2rem;
                    border-bottom: $dark-grayish-blue 1px solid;

                }
            }
        }

    }

    @media (min-width: 1200px) {
        aside {
            max-width: 22rem;

            ul {
                flex-direction: column;

                li {
                    margin-inline: 0;
                }

                li:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }

    }


}